---
- name: Ensure file owner/perms are correct
  file:
    path: "{{ webroot }}"
    state: directory
    mode: ug+rw
    owner: "{{ run_as_user }}"
    group: "{{ run_as_user }}"
    recurse: yes
  become: yes
  tags: upgrade-extensions, upgrade-civi-core, upgrade-civi-patches

- name: git pull
  git:
    repo: "{{ git_repo_url }}"
    dest: "{{ gitroot }}"
    version: "{{ git_main_branch }}"
    track_submodules: no
  become: yes
  become_user: "{{ run_as_user }}"
  when: git_repo_url is not none
  tags: upgrade-extensions, upgrade-civi-core, upgrade-civi-patches

- name: Get current git commit hash
  command: git rev-parse HEAD
  args:
    chdir: "{{ webroot }}"
  register: latest_commit
  become: yes
  become_user: "{{ run_as_user }}"
  changed_when: FALSE
  tags: upgrade-extensions

- name: Get the latest CiviCRM version number
  local_action:
    module: uri
    url: https://latest.civicrm.org/stable.php
    return_content: yes
  run_once: true
  register: civi_ver
  become: no
  tags: upgrade-civi-core, upgrade-civi-patches

#- name: Fake an older version of CiviCRM
#  set_fact:
#    civi_ver:
#      content: "6.4.1"
#  tags: upgrade-civi-core

# https://download.civicrm.org/latest has stable version names, but I want to know whether I already have the same version already, so I do this version-specific approach.
- name: Download stable versions of Civi
  local_action:
    module: get_url
    url: "https://download.civicrm.org/{{ item }}"
    dest: "/tmp/{{ item }}"
  run_once: true
  with_items:
    - "civicrm-{{ civi_ver.content }}-drupal.tar.gz"
    - "civicrm-{{ civi_ver.content }}-backdrop.tar.gz"
    - "civicrm-{{ civi_ver.content }}-wordpress.zip"
  become: no
  tags: upgrade-civi-core

- name: check installed CiviCRM version
  xml:
    path: "{{ civiroot }}/xml/version.xml"
    xpath: /version/version_no
    content: text
  register: version_xml
  changed_when: false
  tags: upgrade-civi-core

- name: Delete the old Civi
  file:
    path: "{{ civiroot }}"
    state: absent
  become: yes
  become_user: "{{ run_as_user }}"
  when: cms != 'Drupal8' and civicrm == 'Yes' # and installed_version != civi_ver.content
  tags: upgrade-civi-core

- name: Unarchive the files into civiroot (.tar.gz)
  unarchive:
    src: "/tmp/civicrm-{{ civi_ver.content }}-{{ cms|lower }}.tar.gz"
    dest: "{{ civiroot | dirname }}"
  become: yes
  become_user: "{{ run_as_user }}"
  when: (cms == 'Drupal' or cms == 'Backdrop') # and installed_version != civi_ver.content
  tags: upgrade-civi-core

- name: Unarchive the files into civiroot (.zip)
  unarchive:
    src: "/tmp/civicrm-{{ civi_ver.content }}-{{ cms|lower }}.zip"
    dest: "{{ civiroot | dirname | dirname }}"
  become: yes
  become_user: "{{ run_as_user }}"
  when: cms == 'WordPress'
  tags: upgrade-civi-core

- name: Upgrade the Civi DB
  command: "cv -n upgrade:db --cwd {{ webroot }}"
  become: yes
  become_user: "{{ run_as_user }}"
  when: cms != "Drupal8"
  tags: upgrade-civi-core

- block:
  - name: Patch PR#34721. Backport fix to afform JWT submission token.
    patch:
      src: "{{role_path}}/files/34721.diff"
      backup: false
      basedir: "{{ civiroot }}"
      strip: 1
    become: yes

  - name: Patch PR#34165.  Fix regression in Select2 display (fixed in 6.12, not sure about 6.11)
    patch:
      src: "{{role_path}}/files/34165.diff"
      backup: false
      basedir: "{{ civiroot }}"
      strip: 1
    become: yes

  - name: Patch PR#30678.  POST support for application/json.
    patch:
      src: "{{role_path}}/files/30678.diff"
      backup: false
      basedir: "{{ civiroot }}"
      strip: 1
    become: yes

  - name: Print/merge documents on Grants
    patch:
      src: "{{role_path}}/files/30321.diff"
      backup: false
      basedir: "{{ civiroot }}"
      strip: 1
    become: yes

  - name: Patch VERP for Delta
    patch:
      src: "{{role_path}}/files/verp.diff"
      backup: false
      basedir: "{{ civiroot }}"
      strip: 1
    become: yes
    when: canonical_primary_url == 'https://reg.delta.wisc.edu'

  - name: Allow token in title/alt text for contact image fields (Leonardo, Redmine#6168)
    patch:
      src: "{{role_path}}/files/651.diff"
      backup: false
      basedir: "{{ civiroot }}/drupal"
      strip: 1
    become: yes
    when: cms == "Drupal"
  when: cms != "Drupal8"
  tags: upgrade-civi-core, upgrade-civi-patches

- block:
  - name: The patch list
    set_fact:
      patch_dict:
        Select2 visual regression: "https://github.com/civicrm/civicrm-core/pull/34165.diff"
  - name: Add patches to Composer
    shell: "jq --indent 4 '.extra.patches[\"civicrm/civicrm-core\"] += {{ patch_dict | to_json }}' {{ gitroot }}/composer.json"
    register: updated_composer
  # Gotta use a template and not copy because of https://github.com/ansible/ansible/issues/34595#issuecomment-356091161.
  - name: Write out the new composer.json
    template:
      src: composer.json.j2
      dest: "{{ gitroot }}/composer.json"
  - name: Update Civi via Composer
    composer:
      command: require
      arguments: "--with-all-dependencies civicrm/civicrm-core:'{{ civi_ver.content }}' civicrm/civicrm-packages:'{{ civi_ver.content }}' civicrm/civicrm-drupal-8:'{{ civi_ver.content }}'"
      working_dir: "{{ gitroot }}"
    when: civicrm == 'Yes' # and installed_version != civi_ver.content
    become: yes
    become_user: "{{ run_as_user }}"
  - name: Upgrade the Civi DB
    command: "cv -n upgrade:db --cwd {{ webroot }}"
    become: yes
    become_user: "{{ run_as_user }}"
  when: cms == "Drupal8"
  tags: upgrade-civi-core, upgrade-civi-patches


- name: git add Civi + patches
  command: git add -v -A
  args:
    chdir: "{{ civiroot }}"
  register: add_result
  become: yes
  become_user: "{{ run_as_user }}"
  changed_when: add_result.stdout != ''
  failed_when: add_result.stderr != ''
  tags: upgrade-civi-core, upgrade-civi-patches

- name: git commit Civi + patches
  command: "git commit -m 'CiviCRM {{ civi_ver.content }} with my patches on top'"
  args:
    chdir: "{{ civiroot }}"
  register: commit_result
  become: yes
  become_user: "{{ run_as_user }}"
  changed_when: commit_result.rc == 0
  failed_when: not(commit_result.rc == 0 or 'nothing to commit, working tree clean' in commit_result.stdout_lines)
  tags: upgrade-civi-core, upgrade-civi-patches

- name: git push
  command: "git push"
  args:
    chdir: "{{ webroot }}"
  register: push_result
  become: yes
  become_user: "{{ run_as_user }}"
  when: git_repo_push_url is not search("https://")
  changed_when: push_result.rc == 0 and push_result.stderr != 'Everything up-to-date'
  failed_when: not(push_result.rc == 0)
  tags: upgrade-civi-core, upgrade-civi-patches

- name: Get a list of extensions that need updating
  command: "cv ext:list --upgrade=available --filter-status=* --filter-ready=* --out=json --columns=key,upgradeVersion"
  args:
    chdir: "{{ webroot }}"
  register: extensions
  changed_when: false
  become: yes
  become_user: "{{ run_as_user }}"
  when: contract_type is search("Civi Maintenance") and civicrm == 'Yes'
  tags: upgrade-extensions, upgrade-extensions-list

- name: Initialize forced_ext_upgrades
  set_fact:
    forced_ext_upgrades: []
  tags: upgrade-extensions

- debug:
    var: extensions.stdout
  when: extensions.stdout is defined and extensions.stdout != "null"
  tags: upgrade-extensions-list

# # Force an extension to be "upgraded" with JSON, e.g.:
# # [{"key":"org.civicoop.civirules","upgradeVersion":"3.17.1"}]
# - name: Force an extension to be upgraded.
#   set_fact:
#    forced_ext_upgrades: [{"key":"org.civicoop.civirules","upgradeVersion":"3.17.1"}]
#   tags: upgrade-extensions

- name: Upgrade Civi extensions
  include_tasks:
    file: civi-extensions.yml
    apply:
      tags: upgrade-extensions
  with_items:
    - "{{ extensions.stdout }}"
    - "{{ forced_ext_upgrades }}"
  when: item is defined and item != "null" and item.key not in extension_redlist and civicrm == 'Yes' and (only_upgrade is not defined or item.key in only_upgrade.split(','))
  tags: upgrade-extensions

- name: Check for pending extension database updates
  command: "cv ev 'return CRM_Extension_Upgrades::hasPending();' --cwd {{ webroot }}"
  become: yes
  become_user: "{{ run_as_user }}"
  environment:
    PATH: "{{ ansible_env.PATH }}:{{ ansible_env.HOME }}/bin"
  changed_when: false
  tags: upgrade-extensions

- name: Get git changelog
  command: "git log --oneline {{ latest_commit.stdout }}..HEAD"
  args:
    chdir: "{{ webroot }}"
  register: changelog
  become: yes
  become_user: "{{ run_as_user }}"
  changed_when: FALSE
  when: latest_commit.stdout is defined and civicrm == 'Yes'
  tags: upgrade-extensions

- name: Print git changelog
  debug:
    var: changelog.stdout
  changed_when: FALSE
  when: latest_commit.stdout is defined and civicrm == 'Yes'
  tags: upgrade-extensions
